.NewsletterForm {
  height: 100%;
  width: 100%;
}
.NewsletterForm .navButton {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NewsletterForm .modal {
  margin-top: 30%;
  border: none;
  background: none;
  padding-left: 5%;
  padding-right: 5%;
}
.NewsletterForm .modal:focus {
  outline: none;
  box-shadow: none;
}
.NewsletterForm .ReactModal__Content .close-button {
}

.NewsletterForm-form {
  width: 80%;
  margin-left: 10%;
  background: white;
  grid-column-start: 2;
  grid-row-start: 1;
  display: grid;
  grid-gap: 2%;
  grid-column-gap: 2%;
  grid-row-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
@media (max-width: 640px) {
  .NewsletterForm-form {
    display: flex;
    flex-direction: column;
  }
}
.NewsletterForm-form .big_input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NewsletterForm-form input {
  grid-column: span 2;
  padding: 2%;
  border-radius: 3px;
  background: rgba(242, 242, 242, 0.6);
  text-align: top;
}
@media (max-width: 640px) {
  .NewsletterForm-form input {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    padding: 4%;
  }
}
.NewsletterForm-form select {
  grid-column: span 2;
  border-radius: 3px;
  background: rgba(242, 242, 242, 0.6);
  text-align: top;
  color: rgb(120, 120, 120);
  border: 1px rgb(220, 220, 220) solid;
}
@media (max-width: 640px) {
  .NewsletterForm-form select {
    height: 40px;
  }
}
.NewsletterForm-form select:focus {
  outline: none;
  box-shadow: none;
}
.NewsletterForm-form select option {
  color: rgb(180, 180, 180);
  padding: 5%;
}
.NewsletterForm-form .half {
  grid-column: span 1;
  padding: 4%;
}

.NewsletterForm-form .button_box {
  grid-column-start: 1;
  grid-column-end: 3;
  min-height: 40px;
  min-width: 150px;
  padding: 0;
  border-radius: 0;
  letter-spacing: 0.8px;
  display: flex;
  justify-content: flex-end;
}
.NewsletterForm-form .button_box .button {
  background: rgba(61, 52, 139, 1);
  color: white;
  min-height: 40px;
  max-height: 50px;
  min-width: 150px;
  border-radius: 0;
  letter-spacing: 0.8px;
  padding: 0;
}
